.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 70px;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logoImage {
  max-height: 40px;
  height: auto;
  width: auto;
}

.navLinks {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.navLinks li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.navLinks li a:hover {
  color: red;
}
